@tailwind base;
@tailwind components;
@tailwind utilities;

.fi-fo-field-wrp-error-message {
    @apply text-red-500 text-sm;
} 

.fi-input {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500;
}

.fi-fo-field-wrp-label {
    @apply block mb-1 text-sm font-medium text-gray-900;
}

.manual-grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}